<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040411968807-tflj449qtrs40ojjpe7vap4l9qo956nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040411968807-tflj449qtrs40ojjpe7vap4l9qo956nq</string>
	<key>API_KEY</key>
	<string>AIzaSyCrxe3cAfOv-wdgsnlLr5rghTQz_lR1CCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1040411968807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pietrozarri.puliziaStrade</string>
	<key>PROJECT_ID</key>
	<string>pulizia-strade-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pulizia-strade-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040411968807:ios:59b35b1ee7d583e8ae9502</string>
</dict>
</plist>